<form method="POST" action="/memos/<%= h(@memo['id']) %>/detail">
  <div>
    件名:<input type="text" name="title" value="<%= h(@memo['title']) %>">
  </div>
  <div>
    本文:<textarea type="text" name="message" rows="5"><%= h(@memo['message']) %></textarea>
  </div>
  <div>
    <input id="hidden" type="hidden" name="_method" value="patch">
    <button type="submit">変更
  </div>
</form>
