<h2><%= h(@memo[0]['title']) %></h2>
<p><%= h(@memo[0]['message']) %></p>
<form method="POST" action="/memos/<%= @memo[0]['id'] %>">
  <div>
    <a href="/memos/<%= @memo[0]['id'] %>/edit">変更しマッスル？</a>
  </div>
  <div>
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit">削除しマッスル？
  </div>
</form>
