<form method="POST" action="/memos/<%= @memo[0]['id'] %>">
  <div>
    件名:<input type="text" name="title" value="<%= h(@memo[0]['title']) %>">
  </div>
  <div>
    本文:<textarea type="text" name="message" rows="5"><%= h(@memo[0]['message']) %></textarea>
  </div>
  <div>
    <input id="hidden" type="hidden" name="_method" value="patch">
    <button type="submit">変更
  </div>
</form>
