<h2><%= h(@memo['title']) %></h2>
<p><%= h(@memo['message']) %></p>
<form method="POST" action="/memos/<%= @memo['id'] %>">
  <div>
    <a href="/memos/<%= h(@memo['id']) %>/detail">変更しマッスル？</a>
  </div>
  <div>
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit">削除しマッスル？
  </div>
</form>
