<form method="POST" action="/memos">
  <div>
    件名:<input type="text" name="title">
  </div>
  <div>
    本文:<textarea type="text" name="message" rows="5"></textarea>
  </div>
  <div>
    <input type="submit" value="保存">
  </div>
</form>
